<div class="page-wrapper">
  <div class="nav-wrapper">
    <div class="grad grad-bar"></div>
    <nav class="navbar">
      <img src="../../assets/logo.png" class="img-fluid" alt="Park+ Logo" />
      <div
        class="menu-toggle"
        id="mobile-menu"
        (click)="toggleMenuSideButton = !toggleMenuSideButton"
        [ngClass]="toggleMenuSideButton ? 'is-active' : ''"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav" [ngClass]="toggleMenuSideButton ? 'mobile-nav' : ''">
        <li class="nav-item" *ngIf="isAuthenticated" (click)="onVehicle()">
          <i class="fa-solid fa-car-on"></i>
          <a> {{ constants.VEHICLE }}</a>
        </li>
        <li class="nav-item logout" *ngIf="isAuthenticated">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <a (click)="onLogout()">{{ constants.LOGOUT }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
