<div class="row">
  <h3 class="col text-align-center">{{ constants.BILL }}</h3>
</div>
<div class="row">
  <h5 class="col text-align-center">{{ constants.CUSTOMER_DETAILS }}</h5>
</div>
<div class="row details-container">
  <div class="left-side">
    <div>{{ constants.CUSTOMER_ID }} :</div>
    <div>{{ constants.CUSTOMER_NAME }} :</div>
    <div>{{ constants.CUSTOMER_EMAIL }} :</div>
    <div>{{ constants.CUSTOMER_PHONE }} :</div>
  </div>
  <div class="right-side">
    <div>{{ billDetails.bill.customer.cutomer_id }}</div>
    <div>{{ billDetails.bill.customer.name }}</div>
    <div>{{ billDetails.bill.customer.email_address }}</div>
    <div>{{ billDetails.bill.customer.phone_number }}</div>
  </div>
</div>
<div class="row">
  <h5 class="col text-align-center">{{ constants.VEHICLE_DETAILS }}</h5>
</div>
<div class="row details-container">
  <div class="left-side">
    <div>{{ constants.SLOT_NUMBER }} :</div>
    <div>{{ constants.VEHICLE_NUMBER }} :</div>
    <div>{{ constants.VEHICLE_TYPE }} :</div>
    <div>{{ constants.SLOT_CHARGES }} :</div>
    <div>{{ constants.CHECKIN_TIME }} :</div>
    <div>{{ constants.CHECKOUT_TIME }} :</div>
    <div>{{ constants.TOTAL_CHARGES }} :</div>
  </div>
  <div class="right-side">
    <div>{{ billDetails.slot.slot_number }}</div>
    <div>{{ billDetails.slot.vehicle_number }}</div>
    <div>{{ billDetails.slot.vehicle_type }}</div>
    <div>{{ billDetails.slot.slot_charges }} &#8377;</div>
    <div>{{ billDetails.bill.time_in }}</div>
    <div>{{ billDetails.bill.time_out }}</div>
    <div>{{ billDetails.bill.total_charges }} &#8377;</div>
  </div>
</div>
<div class="row">
  <h5 class="col text-align-center">
    {{ constants.THANKING_TEXT }}
  </h5>
</div>
<div class="row">
  <div class="col text-align-center button-general">
    <button (click)="redirectBack()">{{ constants.GO_BACK }}</button>
  </div>
</div>
