<button class="btn grad">Add Parking Space</button>
<div class="row scrolling-area">
  <ol class="scrolling-element-inside">
    <li
      [style]="getColor(_index)"
      *ngFor="let parkingSpace of parkingSpaceList; let _index = index"
    >
      <div class="title">{{ parkingSpace.slot_type }}</div>
      <div class="descr">
        <p>Total Capacity : {{ parkingSpace.total_capacity }}</p>
        <hr />
        <p>Charge : {{ parkingSpace.charge }} Rs./Hr</p>
      </div>
    </li>
  </ol>
</div>
