input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px #eff6ef inset !important;
}
.login-heading {
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
  color: black;
}
.divider {
  text-align: center;
  width: 20%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #077faf;
  height: 1.3px;
}
.login-text {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  color: rgb(38, 36, 36);
  margin-bottom: 0px;
}
label.remember-me {
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 0.5em;
  text-align: center;
  color: rgb(38, 36, 36);
}
label {
  margin-left: 8px;
  margin-bottom: 0.5em;
}
.btn {
  color: #ffffff;
  background-color: #01acf0;
  height: 50px;
  width: 100%;
  font-size: 1.2em;
}
.btn:active {
  color: #ffffff;
  background-color: #01acf0;
  height: 50px;
  width: 100%;
  font-size: 1.2em;
}

.grad-box-size {
  width: 80%;
  padding: 0px;
}

.form {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.img-fluid {
  margin-left: 20px;
  margin-top: 20px;
}
