<div class="row align-items-center main-row" style="height: 80vh">
  <div class="col-5">
    <div class="grad-box-size grad ms-4">
      <form
        (ngSubmit)="onLogin(authFrom)"
        #authFrom="ngForm"
        class="row p-4 form"
      >
        <div class="row g-3 mt-2">
          <div class="col">
            <p class="login-text">Login</p>
          </div>
        </div>
        <div class="row g-3 mt-2">
          <div class="col">
            <label for="username" class="visually-hidden">Username</label>
            <input
              type="text"
              class="form-control p-3"
              id="username"
              placeholder="Username"
              required
              name="username"
              ngModel
            />
          </div>
        </div>
        <div class="row g-3 mt-2">
          <div class="col">
            <label for="Password" class="visually-hidden">Password</label>
            <input
              type="password"
              class="form-control p-3"
              id="Password"
              placeholder="Password"
              required
              name="password"
              ngModel
            />
          </div>
        </div>
        <div class="row g-3 mt-2">
          <div class="col">
            <button
              type="submit"
              class="btn mb-3 grad"
              [disabled]="!authFrom.valid"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-6 ms-2">
    <img
      src="../../assets/image-login.png"
      class="img-fluid"
      alt="Parking Image"
    />
  </div>
</div>
