input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px #eff6ef inset !important;
}
.login-text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  color: black;
}
.btn {
  color: #fff;
  height: 50px;
  width: 100%;
  font-size: 1.2em;
}
.grad-box-size {
  width: 97%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0px;
  padding-left: 1rem;
}

.grad {
  /* border-radius: 30px; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}
.form {
  background: white;
  padding: 20px;
}
.img-fluid {
  margin-left: 80px;
  margin-top: 20px;
}
@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
