.slot {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

button {
  width: 100%;
  height: 30px;
}

.legends {
  font-size: 1rem;
  font-weight: 100;
  color: rgb(43, 43, 43);
  margin-right: 200px;
}

.inner-identifier-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}

.slot-identifier {
  height: 13px;
  width: 13px;
  margin-right: 4px;
}

.parking-details {
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

.edit-wrapper {
  justify-content: flex-end;
  text-align: end;
  padding-right: 25px;
}

.checkout-vehicle {
  border-radius: 4px;
  padding-right: 25px;
  text-align: end;
  cursor: pointer;
}

.checkout-vehicle:hover {
  color: #06aaee;
}

.Occupied {
  background-color: #83d2ee;
}

.Not_Occupied {
  background-color: #a1e4d4;
}

.Banned {
  background-color: rgb(243, 101, 101);
}

.heading {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: start;
}

.row.align-items-start {
  margin-left: 1rem !important;
  width: 100%;
  height: 100%;
}

/* Scrolling */
.scrolling-area {
  height: 60vh;
  overflow: auto;
  overflow-x: hidden;
}

.scrolling-element-inside {
  direction: ltr;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-item {
  font-size: 1rem;
  border: 1px solid rgb(255, 255, 255);
  &:hover {
    background-color: rgb(179, 179, 179);
    border: 1px solid rgb(152, 152, 152);
    color: black;
  }
}

.edit {
  cursor: pointer;
}

.edit:hover {
  color: #06aaee;
}

.parent {
  width: 98%;
  padding-left: 10px;
  padding-right: 10px;
}

.hide-dropdown {
  padding: 0;
  border: 0;
}
