<div class="row">
  <div class="col-8 scrolling-area">
    <div class="col-12">
      <div class="heading">{{ selectedCategoryDetails.slot_type }}</div>
    </div>
    <div class="row scrolling-element-inside">
      <div
        class="col m-1 dropdown"
        *ngFor="let slot of slots; let _index = index"
      >
        <button
          class="slot dropdown-toggle"
          [ngClass]="slot.status"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="slot-{{ _index }}"
        >
          {{ _index + 1 }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="slot-{{ _index }}">
          <li>
            <button
              class="dropdown-item park-vehicle"
              type="button"
              *ngIf="slot.status === 'Not_Occupied'"
            >
              Park Vehicle
            </button>
          </li>

          <li>
            <button
              class="dropdown-item ban-slot"
              type="button"
              *ngIf="slot.status === 'Not_Occupied'"
            >
              Ban Slot
            </button>
          </li>
          <li>
            <button
              class="dropdown-item unban-slot"
              type="button"
              *ngIf="slot.status === 'Banned'"
            >
              Un-Ban Slot
            </button>
          </li>
          <li>
            <button
              class="dropdown-item checkout-vehicle"
              type="button"
              *ngIf="slot.status === 'Occupied'"
            >
              Checkout Vehicle
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-2 me-2 ms-2">
    <div class="row">
      <button class="col-12 grad" (click)="onEditParkingSpace()">Edit</button>
      <h3>Identifiers :</h3>
      <div class="mb-2 inner-identifier-wrapper">
        <div class="slot-identifier" ngClass="Occupied"></div>
        <span>Occupied</span>
      </div>
      <div class="mb-2 inner-identifier-wrapper">
        <div class="slot-identifier" ngClass="Not_Occupied"></div>
        <span>Not Occupied</span>
      </div>
      <div class="mb-2 inner-identifier-wrapper">
        <div class="slot-identifier" ngClass="Banned"></div>
        <span>Banned</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isOverlayOpen">
  <app-update-add-space
    (closeOverlayEvent)="toggleOverlay()"
  ></app-update-add-space>
</div>
