<div class="background-blur" (click)="redirectBack()">
  <div class="card" (click)="$event.stopImmediatePropagation()">
    <div class="close-button" (click)="redirectBack()">
      <i class="fas fa-times"></i>
    </div>

    <form #assignSlotForm="ngForm" class="row p-4 form">
      <div class="row g-3 mt-2">
        <div class="col">
          <p class="title-text">{{ constants.PARK_VEHICLE }}</p>
        </div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col">
          <label for="slot-id" class="visually-hidden">{{
            constants.SLOT_NUMBER
          }}</label>
          <input
            type="number"
            class="form-control p-3"
            id="slot-id"
            placeholder="Slot Id"
            required
            name="slotId"
            [ngModel]="slotId"
            disabled
          />
        </div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col">
          <label for="slot-category" class="visually-hidden">{{
            constants.SLOT_CATEGORY
          }}</label>
          <input
            type="text"
            class="form-control p-3"
            id="slot-category"
            placeholder="Slot Category"
            required
            name="slotCategory"
            [ngModel]="slotCategory"
            disabled
          />
        </div>
      </div>

      <div class="row g-3 mt-2">
        <div class="col">
          <label for="vehicle-number" class="visually-hidden">{{
            constants.VEHICLE_NUMBER
          }}</label>
          <input
            type="text"
            class="form-control p-3"
            id="vehicle-number"
            placeholder="Vehicle Number"
            required
            name="vehicle_number"
            pattern="[A-Z]{2}[0-9]{2}[A-Z]{2}[0-9]{4}"
            [ngModel]=""
          />
        </div>
      </div>

      <div class="row g-3 mt-2">
        <div class="col text-align-center button-general">
          <button
            type="submit"
            class="mb-3 w-100"
            [disabled]="!assignSlotForm.valid"
            (click)="onSubmit(assignSlotForm)"
          >
            {{ constants.ASSIGN }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
