<div class="background-blur" (click)="closeOverlay($event)">
  <div class="card" (click)="$event.stopImmediatePropagation()">
    <div class="close-button" (click)="closeOverlay($event)">
      <i class="fas fa-times"></i>
    </div>
    <form #parkingForm="ngForm" class="row p-4 form">
      <div class="row g-3 mt-2">
        <div class="col">
          <p class="title-text">{{ functionalParkingDetails.formTitle }}</p>
        </div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col">
          <label for="parking-category" class="visually-hidden">{{
            constants.PARKING_CATEGORY
          }}</label>
          <input
            type="text"
            class="form-control p-3"
            id="parking-category"
            placeholder="Parking Category"
            required
            name="parkingCategory"
            [ngModel]="functionalParkingDetails.parkingCategory"
          />
        </div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col">
          <label for="total-capacity" class="visually-hidden">{{
            constants.TOTAL_CAPACITY
          }}</label>
          <input
            type="number"
            class="form-control p-3"
            id="total-capacity"
            placeholder="Total Capacity"
            required
            name="totalCapacity"
            [ngModel]="functionalParkingDetails.totalCapacity"
          />
        </div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col">
          <label for="charges" class="visually-hidden">{{
            constants.TOTAL_CHARGES
          }}</label>
          <input
            type="number"
            class="form-control p-3"
            id="charges"
            placeholder="Charges"
            required
            name="charges"
            [ngModel]="functionalParkingDetails.charges"
          />
        </div>
      </div>

      <div class="row g-3 mt-2">
        <div class="col text-align-center button-general">
          <button
            type="submit"
            class="mb-3 w-100"
            [disabled]="!parkingForm.valid"
            (click)="onSubmit(parkingForm)"
          >
            {{
              functionalParkingDetails.edit
                ? constants.EDIT_PARKING_SPACE
                : constants.ADD_PARKING_SPACE
            }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
