/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
  /* font-family: "Exo 2", sans-serif; */
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

button {
  text-align: center;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.button-general {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: #59c8f5;
    color: #f8fbff;
    cursor: pointer;

    &:disabled {
      background-color: #9ae2ff;
      color: #f8fbff;
      cursor: not-allowed;
    }
  }
}

button:active {
  transform: scale(0.9);
}
.close-button {
  &:hover {
    color: #59c8f5;
    cursor: pointer;
  }
}

.grad {
  /* border-radius: 30px; */
  color: white;
  font-size: 1.5em;
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}
@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
